/* rule to apply a background color to each page */
body {
  background-color: light-pink;
}

/* rule to apply properties to img elements */
img {
  width: 100%;
  border-radius: 5px;
  opacity: 0.8;
  filter: grayscale(50%);
}

/* rule to apply properties to h1 elements */
h1 {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}
