* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-image: url('https://i.pinimg.com/originals/3c/07/51/3c0751d8b348e811f4e0ed8a8dac494c.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: light pink;
}
