/* rule to apply a background color to each page */
@font-face 
    {
      font-family: UNCTitle;
      src: url('css/fonts/Aleo.ttf');
    }
    @font-face 
    {
      font-family: UNCText;
      src: url('css/fonts/OpenSans.ttf');
    }
    *
    {
      font-family: UNCText;
    }
    h1
    {
      font-family: UNCTitle;
      color: var(--UNC-Blue);
      font-size: 8vw;
    }
    h2
    {
      font-family: UNCTitle;
      color: #FFB6C1;
      font-size: 32pt;
    }
    p
    {
      font-family: UNCText;
      color: #C71585;
    }
