:root
{
  --UNC-Gold: #000000;
  --UNC-Gold: #f6b000;
  --UNC-Gray: #8a8a8d;
}
body
{
    background-color: pink;
}
*
{
    color: light-pink;
    text-align: center;
}
h1
{
    text-align: center;
    font-size: calc(12pt + 4vw);
}
nav
{
    border: 3px var(light-pink) solid;
}
section
{
    border: 3px var(--UNC-Blue) solid;
    margin: 5px;
}
.date
{
    color: var(--UNC-Gold);
}
li
{
    display: block;
}
img
{
  width: 100 
  Height: 100 
}
